<nav class="main-nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ '/list/' | relative_url }}" {% if page.url == '/list/' %}class="active"{% endif %}>List</a></li>
    <li><a href="{{ '/maps/' | relative_url }}" {% if page.url == '/maps/' %}class="active"{% endif %}>Maps & Areas</a></li>
    <!-- <li><a href="{{ '/collection/' | relative_url }}" {% if page.url == '/collection/' %}class="active"{% endif %}>Collection</a></li> -->
    <li><a href="{{ '/links/' | relative_url }}" {% if page.url == '/links/' %}class="active"{% endif %}>Links</a></li>
    <li><a href="{{ '/about/' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a></li>
    <!-- RSS -->
    <li>
      <a href="{{ site.url }}/feed.xml" aria-label="Subscribe to the RSS feed" class="rss-link">
      <img src="{{ site.site_path }}/rss.png" alt="RSS" width="16" height="16">
    </a>
    </li>
  </ul>
</nav>