footer {
  width: 100%;
  background-color: var(--fdrx-white);
  text-align: center;
  margin-top: 80px;
  padding: 10px 0;
  box-sizing: border-box;
}

footer p {
    line-height: 16px;
    margin: 0 auto 8px;
    max-width: 100%;
}