.banner {
    margin: 20px 0;
    font: var(--font-h2);
    font-weight: 500;
    line-height: 38px;
}

.banner a {
    color: #242424;
}

@media (max-width: 768px) {
  .banner {
    margin: 20px auto;
  }
}