<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | FDRX</title>
  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="/assets/ico/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="/assets/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/ico/android-chrome-192x192.png" sizes="192x192">
  <!-- Style -->
  <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/banner.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/menu.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
</head>
<body>

  {% include banner.html %}
  {% include menu.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>