<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | fdrx</title>
  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{{ site.ico_path }}/favicon.ico">
  <link rel="icon" type="image/png" href="{{ site.ico_path }}/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.ico_path }}/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="{{ site.ico_path }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.ico_path }}/android-chrome-192x192.png" sizes="192x192">
  <!-- Css -->
  <link rel="stylesheet" href="{{ site.css_path }}/default.css">
  <link rel="stylesheet" href="{{ site.css_path }}/home.css">
  <link rel="stylesheet" href="{{ site.css_path }}/banner.css">
  <link rel="stylesheet" href="{{ site.css_path }}/menu.css">
  <link rel="stylesheet" href="{{ site.css_path }}/footer.css">
  <link rel="stylesheet" href="{{ site.css_path }}/gallery.css">
</head>
<body>

  {% include banner.html %}
  {% include menu.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>