---
layout: default
---

<!-- last post -->
{% assign last = site.posts.first %}
<div class="last-post">

    <div class="left">
      <a href="{{ last.url | relative_url }}">
        {% if last.image[0] %}
          <img src="{{ site.img_path }}{{ last.image[0] }}" alt="{{ last.title }}">
          {% elsif last.image %}
          <img src="{{ site.img_path }}{{ last.image }}" alt="{{ last.title }}">
        {% endif %}
      </a>
    </div>

    <div class="right">
      <a href="{{ last.url | relative_url }}">
          <h2>{{ last.title }}</h2>
          <p>{{ last.subtitle }}</p>
          <p class="date">{{ last.date | date: "%d %B %Y" }}</p>
      </a>
    </div>

</div>

<!-- others last 9 posts -->
<section>
  {% for post in site.posts offset:1 limit:9 %}
    <article>
      <a href="{{ post.url | relative_url }}">
        {% if post.image[0] %}
          <img src="{{ site.img_path }}{{ post.image[0] }}" alt="{{ post.title }}" class="thumbnail">
        {% elsif post.image %}
          <img src="{{ site.img_path }}{{ post.image }}" alt="{{ post.title }}" class="thumbnail">
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.subtitle }}</p>
        <p class="date">{{ post.date | date: "%d %B %Y" }}</p>
      </a>
    </article>
  {% endfor %}
</section>