---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/maps.css' | relative_url }}">

<h1>{{ page.title }}</h1>

<div class="disclaimer">
    Disclaimer: The maps and village lists on this page were originally compiled in 2012/13 on <a href="https://www.teachat.com/viewtopic.php?t=17948" target="_blank" rel="noopener noreferrer nofollow">TeaChat</a>. They are not exhaustive and could contain inaccuracies or errors, mainly because of the limited data available back then (e.g., "bohetang" had no Google results in non-Chinese characters).
</div>

{% assign last = site.maps.first %}
<div class="main-container">

  <a href="{{ last.url | relative_url }}">
    <div class="main-bg">
      {% if last.image and last.image[0] %}
      <img src="{{ site.maps_path }}{{ last.image[0] }}" alt="{{ last.title }}">
      {% else %}
      <img src="{{ site.maps_path }}placeholder.jpg" alt="{{ last.title }}">
      {% endif %}
    </div>

    <div class="main-text">
      <a href="{{ last.url | relative_url }}">
        <h2>{{ last.title }}</h2>
        <p>{{ last.subtitle }}</p>
        <p class="date">{{ last.date | date: "%d %B %Y" }}</p>
      </a>
    </div>
  </a>

</div>

<section>
  {% for map in site.maps offset:1 limit:9 %}
    <article>
      <a href="{{ map.url | relative_url }}">
        <h2>{{ map.title }}</h2>
        <p>{{ map.subtitle }}</p>
        <p class="date">{{ map.date | date: "%d %B %Y" }}</p>
      </a>
    </article>
  {% endfor %}
</section>