---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/maps.css' | relative_url }}">

<h1>{{ page.title }}</h1>

<div class="disclaimer">
    Disclaimer: the following maps and lists of places are the same ones I put together back in 2012 on <a href="https://www.teachat.com/viewtopic.php?t=17948" target="_blank" rel="noopener noreferrer nofollow">TeaChat</a>. These are non-exhaustive information that likely contain errors, but remember that at the time, a name like "bohetang" returned no results on Google when searched using non-Chinese characters.
</div>

{% assign last = site.maps.first %}
<div class="main-container">

  <div class="main-bg">
    {% if last.image and last.image[0] %}
    <img src="{{ site.map_path }}{{ last.image[0] }}" alt="{{ last.title }}">
    {% else %}
    <img src="{{ site.map_path }}placeholder.jpg" alt="{{ last.title }}">
    {% endif %}
  </div>

  <div class="main-text">
    <a href="{{ last.url | relative_url }}">
      <h2>{{ last.title }}</h2>
      <p>{{ last.subtitle }}</p>
      <p class="date">{{ last.date | date: "%d %B %Y" }}</p>
    </a>
  </div>

</div>

<section>
  {% for map in site.maps offset:1 limit:9 %}
    <article>
      <a href="{{ map.url | relative_url }}">
        {% if map.image and map.image[0] %}
          <img src="{{ site.map_path }}{{ map.image[0] }}" alt="{{ map.title }}" class="thumbnail">
        {% else %}
          <img src="{{ site.map_path }}placeholder.jpg" alt="{{ map.title }}" class="thumbnail">
        {% endif %}
        <h2>{{ map.title }}</h2>
        <p>{{ map.subtitle }}</p>
        <p class="date">{{ map.date | date: "%d %B %Y" }}</p>
      </a>
    </article>
  {% endfor %}
</section>