---
layout: default
---
<link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">

<div class="wrapper">
  <article class="post">

    <!-- HEADER -->
    <header class="post">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
    </header>

    <!-- CONTENT -->
    <div class="content">
      {{ content }}
    </div>

    <!-- TAGS -->
    <div>
      <p><u>Tags</u>: <em>{{ page.tags | join: ", " }}</em></p>
    </div>

  </article>

</div>